<h1>Add a songs</h1>
<%= form_with(model: [@artist, @song], local:true, class: "ui form") do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>
<br />
<%= f.submit nil, class: "ui button green" %>
<% end %>